# BLACKLIST EVERYTHING
*
*/**

# WHITELIST!
!.gitignore
!.github
!.github/workflows
!*/**/*.md
!*/**/*.rs
!*/**/*.yml
!Cargo.toml
!README.md

## SOURCE
!src

## TESTS
!test

# whitelist cargo.lock for binaries
!Cargo.lock
